.Header {
  background-color: black;
  width: 100%;
  color: white;
  display: flex;
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: white;
}
.login {
  margin-left: 91%;
}
